@media only screen and (min-width: 768px) {
  //    Header

  .pageHeader {

    .container {
      width: 80%;
    }
    .headerLogoContainer {
      display: initial;
      padding: 5px;
      text-align: center;
      border-radius: 50%;
    }
    .logo {
      width: 40px;       
      padding-top: 5px;
    }
    nav {
      display: flex;
      justify-content: flex-end;
      .hamburgerButton {
        display: none;
      }
      .nonMobileNav {
        display: initial;
        color: white;
        align-self: flex-end;
        padding: 10px;
        font-size: 14px;
        li {
          display: inline-block;
          margin-left: 10px;
          text-align: center;  
          .activeHome {
            border-bottom: 1px solid white;
          }
          &:before{
            content: '';
            display: block;
            height: 5px;
           width: 0%;  
           transition: all ease-in-out 250ms;  
           border-top: 2px solid white; 
          }
          &:hover:before{
           content:'';
           display: block;
           width: 100%;
           transition: all ease-in-out 250ms;  
           border-top: 5px solid white;        
          }   
        }
      }
    }
  }
  .scrolled {
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-transition: all ease-in 200ms;
    transition: all ease-in-out 200ms;
    z-index: 3;
    float: right;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    .logo {
      filter: invert(100%);
    }
    nav{
      .nonMobileNav{
        li {
          color: black;
         
          .active{
            border-bottom: 1px solid rgba(210, 77, 87, 1);          
          }
          &:before{
            content: '';
            display: block;
            height: 5px;
           width: 0%;  
           transition: all ease-in-out 250ms;  
           border-top: 2px solid rgba(210, 77, 87, 1); 
          }
          &:hover:before{
           content:'';
           display: block;
           width: 100%;
           transition: all ease-in-out 250ms;  
           border-top: 5px solid rgba(210, 77, 87, 1);        
          }   
        }
      }
    }
    
  }
  .scrolledButton {
    display: none;
  }
  .mobileMenu{
    display: none;
  }
  //   hero
  .hero {
    .heroLogo {
      width: 110px;
    }
    button {
      width: 30%;
      padding: 10px;
      transition: $primary-transition;
    }
    .heroName {
      font-size: 62px;
      transition: $primary-transition;
    }
  }
  // projects
  .projectDescription {
    width: 100%;
    button {
      padding: 10px;
      width: 49%;
      font-size: 18px;
      display: inline-block;
      border: none;
      background-color: white;
      color: #d24d57;
      border: 1px solid #d24d57;
      border-radius: 5px;
    }
    .projectLive {
      margin-right: 5px;
    }
  }
  // skills

  .skillsGrid {
    width: 50%;
  }
  .skills {
    .container {
      width: 80%;
      padding-top: 15px;
    }

    .aboutMe {
      text-align: center;
      line-height: 1.7;
      font-size: 20px;
      h3 {
        padding: 0;
        font-size: 50px;
        margin-bottom: 40px;
      }
    }
  }
  // projects
  .projects {
    font-size: 20px;
    margin-top: 60px;
    h2 {
      font-size: 50px;
    }
    .container {
      width: 80%;
    }
    .projectDescription {
      font-size: 25px;
      h3 {
        font-size: 30px;
      }
    }
  }
  .contact {  
    margin-top: 150px;
    margin-bottom: 150px;
    .contactGitHub,
    .contactLinkedIn {
      max-width: 100px;
    }
    .container {
      width: 80%;
    }
    .thankYou {
      font-size: 25px;
      span {
        font-size: 40px;
      }
    }
    .email {
      font-size: 30px;
    }
  }
}
