@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,900");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
* {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

body {
  color: rgba(0, 0, 0, 0.7); }

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container {
  width: 95%;
  margin: 0 auto; }

.backgroundContainer {
  -webkit-box-shadow: inset 0px 1000px 0px rgba(176, 42, 53, 0.8);
  box-shadow: inset 0px 1000px 0px rgba(176, 42, 53, 0.8); }

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in-out 200ms;
  z-index: 3;
  float: right; }
  .scrolled .logo {
    filter: invert(100%); }
  .scrolled li {
    color: black; }

.scrolledButton {
  display: block;
  float: right;
  border-radius: 50%;
  border: none;
  background-color: black;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms; }

.pageHeader {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms; }
  .pageHeader .headerLogoContainer {
    display: none; }
  .pageHeader .logo {
    width: 15%; }
  .pageHeader .headerIntro {
    display: none; }
  .pageHeader nav {
    width: 100%; }
    .pageHeader nav .nonMobileNav {
      display: none; }
    .pageHeader nav .hamburgerButton {
      display: block;
      float: right;
      border: none;
      border-radius: 0;
      transition: all ease-in 250ms;
      background-color: rgba(67, 162, 201, 0); }
    .pageHeader nav .hamburger {
      display: block;
      width: 35px;
      -webkit-filter: invert(100%);
      filter: invert(100%); }

.hero {
  padding-bottom: 20px;
  min-height: 350px;
  color: white;
  text-align: center;
  align-items: center; }
  .hero .heroContainer {
    width: 90%;
    margin: 0 auto; }
  .hero .heroLogo {
    width: 100px;
    opacity: 0.5;
    margin-top: 15%; }
    .hero .heroLogo img {
      width: 100%; }
  .hero .heroName {
    margin-top: 20px;
    font-family: "Great Vibes", sans-serif;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
    color: white; }
  .hero .heroSubTitle {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px; }
  .hero .heroIntro {
    margin: 20px 0 15px 0;
    padding: 0 10px 10px 10px;
    font-family: Goergia;
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9); }
    .hero .heroIntro span {
      color: white;
      font-size: 18px; }
  .hero .heroButtons {
    margin-top: 30px; }
  .hero button {
    width: 45%;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(67, 162, 201, 0);
    color: white;
    padding: 5px;
    margin-right: 5px; }

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 15px 0;
  text-align: center; }

.skills {
  text-align: center;
  background-color: #f8f8f8; }
  .skills .aboutMe {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px; }
    .skills .aboutMe p {
      font-family: Georgia;
      padding-top: 10px; }
    .skills .aboutMe span {
      color: #d24d57; }
  .skills h3 {
    height: 60px;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    color: black; }
    .skills h3:after {
      content: '';
      display: block;
      width: 30%;
      margin: 0 auto;
      border: 1px solid rgba(210, 77, 87, 0.2);
      margin-top: 10px; }
  .skills .skillsListNonMobile {
    display: none; }
  .skills .skillsContainer p {
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
  .skills .skillsContainer img {
    width: 70px; }
  .skills .git {
    -ms-grid-column: 2;
    grid-column-start: 2; }
  .skills .html5,
  .skills .css3,
  .skills .react,
  .skills .node,
  .skills .express,
  .skills .javascript,
  .skills .bootstrap,
  .skills .redux,
  .skills .mongodb,
  .skills .git {
    padding-bottom: 10px; }

.projects {
  margin-top: 10px;
  text-align: center;
  font-size: 18px; }

.projectsHeader {
  margin-bottom: 20px; }
  .projectsHeader:after {
    content: '';
    display: block;
    width: 30%;
    margin: 0 auto;
    border: 1px solid rgba(210, 77, 87, 0.2); }

h2 {
  font-family: "Lato";
  text-align: center;
  color: black;
  padding-bottom: 15px; }

.projectImage {
  width: 100%; }
  .projectImage img {
    width: 100%; }

.projectDescription {
  width: 100%; }
  .projectDescription button {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    display: block;
    border: none;
    background-color: white;
    color: #d24d57;
    border: 1px solid #d24d57;
    border-radius: 5px; }

.contact {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  background-color: #f8f8f8;
  color: black; }
  .contact .thankYou {
    font-family: Georgia;
    margin-bottom: 15px; }
  .contact span {
    font-size: 30px;
    color: #d24d57; }
  .contact .contactGitHub,
  .contact .contactLinkedIn {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    background-color: #d24d57;
    color: white;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    letter-spacing: 1px; }
  .contact .email {
    font-size: 20px;
    color: #d24d57; }

footer {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center; }
  footer .footerHeader .footerLogo img {
    width: 62px; }

@media only screen and (min-width: 414px) {
  .hero {
    font-size: 20px; }
    .hero .heroName {
      font-size: 50px; } }

@media only screen and (min-width: 768px) {
  .scrolled {
    width: 100%;
    position: fixed;
    top: 0;
    -webkit-transition: all ease-in 200ms;
    transition: all ease-in-out 200ms;
    z-index: 3;
    float: right;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .scrolled .logo {
      filter: invert(100%); }
    .scrolled li {
      color: black; }
  .scrolledButton {
    display: none; }
  .pageHeader .container {
    width: 80%; }
  .pageHeader .headerLogoContainer {
    display: initial; }
  .pageHeader .logo {
    width: 62px; }
  .pageHeader nav {
    display: flex;
    justify-content: flex-end; }
    .pageHeader nav .hamburgerButton {
      display: none; }
    .pageHeader nav .nonMobileNav {
      display: initial;
      color: white;
      align-self: flex-end;
      padding: 10px;
      font-size: 14px; }
      .pageHeader nav .nonMobileNav li {
        display: inline-block;
        padding-left: 10px; }
  .hero .heroLogo {
    width: 110px; }
  .hero button {
    width: 30%;
    padding: 10px;
    transition: all ease-in 250ms; }
  .hero .heroName {
    font-size: 62px;
    transition: all ease-in 250ms; }
  .projectDescription {
    width: 100%; }
    .projectDescription button {
      padding: 10px;
      width: 49%;
      font-size: 18px;
      display: inline-block;
      border: none;
      background-color: white;
      color: #d24d57;
      border: 1px solid #d24d57;
      border-radius: 5px; }
    .projectDescription .projectLive {
      margin-right: 5px; }
  .skillsGrid {
    width: 50%; }
  .skills .container {
    width: 80%;
    padding-top: 15px; }
  .skills .aboutMe {
    text-align: center;
    line-height: 1.7;
    font-size: 20px; }
    .skills .aboutMe h3 {
      padding: 0;
      font-size: 50px;
      margin-bottom: 40px; }
  .projects {
    font-size: 20px;
    margin-top: 60px; }
    .projects h2 {
      font-size: 50px; }
    .projects .container {
      width: 80%; }
    .projects .projectDescription {
      font-size: 25px; }
      .projects .projectDescription h3 {
        font-size: 30px; }
  .contact .container {
    width: 80%; }
  .contact .thankYou {
    font-size: 25px; }
    .contact .thankYou span {
      font-size: 40px; }
  .contact .email {
    font-size: 30px; } }
