@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,900");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

$primary-transition: all ease-in 250ms;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
body {
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}
button {
  &:hover {
    cursor: pointer;
  }
}
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.container {
  margin: 0 auto;
  width: 95%;
}
// header styles

.backgroundContainer {
  -webkit-box-shadow: inset 0px 1000px 0px rgba(176, 42, 53, 0.8);
  box-shadow: inset 0px 1000px 0px rgba(176, 42, 53, 0.8);
}
.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in-out 200ms;
  z-index: 3;
  float: right;
  .logo {
    filter: invert(100%);
  }
  li {
    color: black;
  }
}
.scrolledButton {
  display: block;
  float: right;
  border-radius: 50%;
  border: none;
  background-color: black;
  -webkit-transition: all ease-in 250ms;
  transition: all ease-in 250ms;
}
.pageHeader {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: all ease-in 200ms;
  transition: all ease-in 200ms;
  .headerLogoContainer {
    display: none;
  }
  .logo {
    width: 15%;
  }
  .headerIntro {
    display: none;
  }
  nav {
    width: 100%;
    .nonMobileNav {
      display: none;
    }
    .hamburgerButton {
      display: block;
      float: right;
      border: none;
      border-radius: 0;
      transition: $primary-transition;
      background-color: rgba(67, 162, 201, 0);
    }
    .hamburger {
      display: block;
      width: 35px;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }
}
.mobileMenu {
  position: fixed;
  top: -1000px;
  transition: all 600ms;
  background-color: rgba(176, 42, 53, 1);
  width: 100vw;
  // height: 50vh;
  text-align: center;
  color: white;
  .container {
    width: 80%;
  }
  .close {
    font-size: 30px;
    text-align: center;
  }
  ul {
    padding-top: 40px;
    color: white;
    font-size: 30px;
    text-align: center;

    li {
      padding-bottom: 20px;
    }
  }
  .menuName {
    font-family: "Great Vibes";
    font-size: 50px;
    padding-top: 13%;
  }
  .menuSubtitle {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    padding-bottom: 10%;
  }
}
.menuClicked {
  top: 0px;
  transition: all 600ms;
  z-index: 4;
}
// main styles

// HERO
.hero {
  padding-bottom: 20px;
  min-height: 350px;
  color: white;
  text-align: center;
  align-items: center;
  .heroContainer {
    width: 90%;
    margin: 0 auto;
  }

  .heroLogo {
    width: 100px;
    opacity: 0.5;
    margin-top: 15%;
    img {
      width: 100%;
    }
  }
  .heroName {
    margin-top: 20px;
    font-family: "Great Vibes", sans-serif;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 1);
  }
  .heroSubTitle {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
  }
  .heroIntro {
    margin: 20px 0 15px 0;
    padding: 0 10px 10px 10px;
    font-family: Goergia;
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    span {
      color: white;
      font-size: 18px;
    }
  }
  .heroButtons {
    margin-top: 30px;
  }
  button {
    width: 45%;
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(176, 42, 53, 0.5);
    color: white;
    padding: 5px;
    margin-right: 5px;
    &:hover {
      background-color: white;
      color: rgba(176, 42, 53, 0.5);
    }
    span{
      margin-right: 2px;
    }
  }
}
// Skills/About
.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 15px 0;
  text-align: center;
}

.skills {
  text-align: center;
  background-color: rgb(248, 248, 248);
  .aboutMe {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    p {
      font-family: Georgia;
      padding-top: 10px;
    }
    span {
      color: #d24d57;
    }
  }
  h3 {
    height: 60px;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 1);
    &:after {
      content: "";
      display: block;
      width: 30%;
      margin: 0 auto;
      border: 1px solid rgba(210, 77, 87, 0.2);
      margin-top: 10px;
    }
  }
  .skillsListNonMobile {
    display: none;
  }
  .skillsContainer {
    p {
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
    img {
      width: 70px;
    }
  }
  .git {
    -ms-grid-column: 2;
    grid-column-start: 2;
  }
  .html5,
  .css3,
  .react,
  .node,
  .express,
  .javascript,
  .bootstrap,
  .redux,
  .mongodb,
  .git {
    padding-bottom: 10px;
  }
}
// PROJECTS
.projects {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.projectsHeader {
  margin-bottom: 20px;
  &:after {
    content: "";
    display: block;
    width: 15%;
    margin: 0 auto;
    border: 1px solid rgba(210, 77, 87, 0.2);
  }
}
h2 {
  font-family: "Lato";
  text-align: center;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 15px;
}
.projectImage {
  width: 100%;
  img {
    width: 100%;
  }
}
.projectDescription {
  width: 100%;
  .technologies{
    margin-bottom: 40px;
  }
  button {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    display: block;
    border: none;
    background-color: white;
    color: #d24d57;
    border: 1px solid #d24d57;
    border-radius: 5px;
    &:hover {
      background-color: rgba(176, 42, 53, 0.8);
      color: white;
    }
  }
}
// CONTACT
.contact {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  // background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.5);
  .thankYou {
    font-family: Georgia;
    margin-bottom: 15px;
  }
  span {
    font-size: 30px;
    color: rgba(210, 77, 87, 1);
  }
  .contactGitHub,
  .contactLinkedIn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px;
    max-width: 300px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    img {
      width: 100%;
    }
  }
  .email {
    font-size: 20px;
    color: rgba(210, 77, 87, 1);
  }
}
// Footer Styles
footer {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  .footerHeader {
    .footerLogo {
      img {
        width: 62px;
      }
    }
  }
}

@import "_414";
@import "_768";
@import "_1024";
@import "_1440";
